/* Fonts */ 
body {

}

/* Colors */ 
:root 
{
/* Dark Theme Colors */ 
  --bg01-dark: #2d353b;
  --bg02-dark: #2b2827;
  --bg03-dark: #594b45;

/* Text Colors */ 
  --text-01: #d3c6aa;
  --text-02: #9da9a0;
  --text-03: #e69875;
  --text-04: #e67e80;

/* Syntax / Highlighting */
  --yellow-dark: #dbbe7f;
  --orange-dark: #ffaf68;
  --red-dark:#ad4e49;
  --blue-dark: #406280;
  --blue02-dark: #4565a1;
  --cyan-dark: #83c092;
  --purple-dark: #c791bc;
  --pink-dark: #cf8a9e;
  --green-dark:#9ebf60;
}

:root table {
  --table-border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
}


.theme-dark {
  /*Background Colors */
  --background-primary: var(--bg01-dark);
  --background-secondary: var(--bg02-dark);
  --background-modifier-hover: var(--bg03-dark);

/* Text */ 
  --text-normal: var(--text-01);
  --text-muted: var(--text-02);
  --text-accent:var(--text-03);
  --text-accent-hover: var(--text-04);
  --text-highlight-bg: var(--red-dark);
  --text-selection: var(--bg03-dark);

 /* Code */ 
 --code-background: var(--bg02-dark);
 --code-normal: var(--text-01);
 --code-comment:var(--text-02);
 --code-function:var(--pink-dark);
 --code-important: var(--orange-dark);
 --code-keyword: var(--yellow-dark);
 --code-operator:var(--red-dark);
 --code-property:var(--cyan-dark);
 --code-punctuation:var(--orange-dark);
 --code-string:var(--green-dark);
 --code-tag:var(--blue-dark);
 --code-value:var(--purple-dark);

 --interactive-normal: var(--bg02-dark);
 --interactive-accent: var(--bg03-dark);
 

  /* Tags */ 
  --tag-background: var(--yellow-dark);
  --tag-color: var(--bg01-dark);

  /* Links */ 
  --link-color: var(--green-dark) !important;
  --link-color-hover: var(--yellow-dark) !important;

  /* Checklist */ 
  --checkbox-color: var(--yellow-dark);
  --checkbox-border-color: var(--yellow-dark);

  /* Tables */ 
  --table-border-color: var(--text-01) !important;
  --table-header-background: var(--bg02-dark);

  /* Callouts */ 
  --callout-default: var(--blue02-dark);
  --callout-tip: var(--cyan-dark);
  --callout-info: var(--blue02-dark);
  --callout-warning: var(--orange-dark);
  --callout-bug: var(--red-dark);
  --callout-error: var(--red-dark);
  --callout-success: var(--green-dark);
  --callout-question: var(--yellow-dark);
  --callout-example: var(--purple-dark);

  /* Block Quotes */ 
 --blockquote-border-color: var(--blue-dark) !important; 

 /* Graph */ 
 --graph-line: var(--bg03-dark);
 --graph-node-tag: var(--yellow-dark);

}

.theme-dark .tag:hover, .theme-dark .cm-hashtag:hover {
  background-color: var(--cyan-dark);
  color: var(--bg01-dark);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.theme-dark td, .theme-dark th {
  border: 1px solid var(--text-01) !important;
}

/* Snippets */ 
body {

/* Checkbox Stuff */ 
  --checkbox-radius: 50px;

/* Tables Rounded Corners - Credit to "FireIsGood"*/ 
th:first-child {border-top-left-radius: var(--table-border-radius)}
th:last-child {border-top-right-radius: var(--table-border-radius)}
tr:last-child td:first-child {border-bottom-left-radius: var(--table-border-radius)}
tr:last-child td:last-child {border-bottom-right-radius: var(--table-border-radius)}
/* Notebook Navigator */ 
  --nn-theme-list-bg: var(--bg02-dark);
}
